/* Contact.css */
.contact {
  color: #570e40;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.contact p {
  margin-right: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contact-icon {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .contact {
    align-items: flex-start;
    font-size: x-small;
    justify-content: space-around;
  }

  .contact p {
    margin-right: 0;
    line-height: 1rem;
  }
}