/* Contact.css */
.contact {
  color: #000;
  display: flex;
  align-items: center;
}

.contact p {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 8px;
}