/* Styles for screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
  .DownloadResumeButton {
    display: flex;
    justify-content: center; /* Center the button horizontally */
  }
  .home {
    width: 100%;
    margin-left: 0;
  }
  .leftSection {
    position: static;
    width: 100%;
    margin: 1rem;
  }
  .mainContainer {
    flex-direction: column;
  }
  .navbar-nav {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .navbar-nav {
    display: none; /* Hide the navigation links */
  }
  .DownloadResumeButton {
    display: flex;
    justify-content: center; /* Center the button horizontally */
  }
  .mobile-header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: sticky; /* Make the header sticky */
    top: 0; /* Position it at the top */
    z-index: 1; /* Ensure it's on top of other elements */
  }
} /* Styles for screens between 768px and 1024px (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    width: 70%;
    margin-left: 30%;
  }
  .leftSection {
    width: 30%;
    margin: 2rem;
  }
} /* Styles for screens larger than 1024px (desktops) */
@media (min-width: 1025px) {
  /* Existing styles */
  .home {
    width: 50%;
    min-height: 100vh;
    background-color: #fffaf2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .hero-content {
    margin-bottom: 2rem;
  }
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: justify;
  } /* .btn { display: inline-block; background-color: 460932; color: #fff; padding: 0.5rem 1rem; border-radius: 0.25rem; text-decoration: none; transition: background-color 0.3s ease; } .btn:hover { background-color: rgb(60, 60, 60); } */
  .subheading p {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0;
  }
  h2 {
    /* color:#ff4052; */
    text-align: left;
  }
  strong {
    color: #ff4052;
  }
  .designation {
    text-align: center;
  }
  .mainContainer {
    display: flex;
  }
  .leftSection {
    position: fixed;
    width: 40%;
    text-align: center;
    margin: 5rem;
  }
  .nav-item {
    margin-left: 1rem;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  .nav-link.active {
    /* Class for the active link */
    font-weight: bold; /* Making the text bold */
    font-size: 1.25rem; /* Increasing the font size to make it grow */
    color: black; /* Change color to make it visually distinctive */
  }
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: default;
  }
  .navbar-nav {
    margin: 5rem;
    justify-content: center;
  }
}
