/* ProjectCard.css */
.project-card {
  padding: 10px;
  margin: 1.5rem 1rem;
  border: 2px solid #570e40;
  background-color: #fffaf2;
  box-shadow: -5px 5px 0 0 #ffbf21;
  border-radius: 10px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project-title {
  margin: 0;
  transition: color 0.3s ease;
}

.project-link-icon {
  font-size: 20px;
  color: grey !important;
  transition: transform 0.3s ease, color 0.3s ease;
}

.project-description {
  margin-bottom: 16px;
}

.project-card:hover .project-title,
.project-card:hover .project-link-icon {
  cursor: pointer;
}

.project-card:hover .project-link-icon {
  color: black !important;
  transform: scale(1.1);
    border-color: black !important;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .project-title {
    font-size:large;
  }

  .project-description {
    font-size: smaller;
  }

  .project-link-icon {
    font-size: smaller;
  }
}