/* Skills.css */
.skills-container {
  padding: 20px;
  color:#460932;
  border: 2px solid #570e40;
  background-color: #fffaf2;
  box-shadow: -5px 5px 0 0 #ffbf21;
  border-radius: 10px;
  margin: 0 3.5rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.skill-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.skill-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 16px;
  text-align: center;
}