/* SocialMedia.css */
  
  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  
  }
  
  .social-icon {
    font-size: 24px;
    color: #333;
    margin: 8px 0;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #000;
  }